<%- include('./includes/header.ejs')%>


    <div class="imagad" style="width: 100%;height: 720px;">
        <img src='https://i.ytimg.com/vi/Vtb14CczAQM/maxresdefault.jpg' class="img-fluid"
            style="width: 100%; height: 100%;" alt="Responsive image">
    </div>

    <%- include('./includes/footer.ejs') %>